<!-- Footer  -->
<footer>
    <div class="row">
        <div class="col-sm footer-text text-white ">
            <h5>
                "In this country that grows more food than any other nation on this earth, it is unthinkable that any
                child should go hungry.”
            </h5>
        </div>

        <div class="col-sm social-icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-paypal"></i>
        </div>
    </div>
    <div class="row">
        <h5 class="text-center text-white">&copy;2021 YearnQuest</h5>
    </div>
</footer>
</body>

<!-- Be A Part Of Our Community -->
<!-- Bootstrap JS  -->
<script src="/Boostrap/js/bootstrap.min.js"></script>

</html>