<!-- Footer  -->
<footer>
    <div class="row">
        <div class="col-sm footer-text text-white">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem modi,
            quis magnam laudantium ratione natus saepe possimus, quidem,
            exercitationem veritatis neque ducimus ipsum explicabo praesentium
            dicta in maxime minima quas!
        </div>

        <div class="col-sm social-icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-paypal"></i>
        </div>
    </div>
    <div class="row">
        <h5 class="text-center text-white">&copy;2021 YearnQuest</h5>
    </div>
</footer>
</body>

<!-- Be A Part Of Our Community -->
<!-- Bootstrap JS  -->
<script src="/Boostrap/js/bootstrap.min.js"></script>

</html>