<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Boostrap/css/bootstrap.min.css" />

    <!-- Font Awesome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Custom CSS  -->
    <link rel="stylesheet" href="/css/style.css" />

    <title>YearnQuest</title>
  </head>

  <body>
    <!-- Navigation Bar  -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light"
      id="navigation-bar"
    >
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" id="title" href="#">YearnQuest</a>
        <a href="#"><img src="./img/" alt="" srcset="" /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseNavbar"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse text-center mx-5"
          id="collapseNavbar"
        >
          <div class="navbar-nav">
            <a class="nav-link active" id="home" aria-current="page" href="/"
              >Home</a
            >
            <a class="nav-link" href="/ourwork">Our Work</a>
            <a class="nav-link" href="/stories">Stories</a>
            <a class="nav-link" href="/about">About Us</a>
            <button type="button" class="btn btn-outline-danger" id="donate">
              DONATE
            </button>
            <button type="button" class="btn btn-outline-primary" id="login">
              LOGIN
            </button>
          </div>
        </div>
      </div>
    </nav>
    <!-- Navigation Bar  -->
  </body>
</html>
