<%- include("./partials/header") -%>
<h1 class="text-center py-4">About us</h1>
<div class="container">
    <h2 class="text-center about-text">Our Founders</h2>
    <div class="container mx-5 founders-box">
        <div class="row">
          <div class="col-sm founders">
            <img src="./images/rakesh.jpg" alt="" id="rakesh">
            <h4 class="mx-4 p-1">Rakesh Potnuru</h4>
          </div>
          <div class="col-sm founders">
            <img src="./images/rwitesh.jpeg" alt="" id="rwitesh">
            <h4 class="mx-5 p-1">Rwitesh Bera</h4>
          </div>
          <div class="col-sm founders">
            <img src="./images/aqsa.jpg" alt="" id="aqsa">
            <h4 class="mx-5 p-1">Aqsa Shadab Khan</h4>
          </div>
        </div>
      </div>
      <div class="container quote my-4">
          <h3 class="text-center">Our Motto</h3>
          <blockquote><b>"</b> Pray for the hungry. Then you feed them. This is how prayer works.<b>"</b></blockquote>
      </div>
</div>

<%- include("./partials/footer") -%>
