<%- include("./partials/header") -%>

<section id="carousel-section">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="/images/kids.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="/images/poverty.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="6000">
        <img src="/images/poverty2.jpg" class="d-block w-100" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!-- Cards  -->
<section class="card-section m-4">
  <div class="cotainer">
    <div class="row">
      <img
        class="card-img-top"
        id="img-banner"
        src="/images/feedBanner.jpg"
        alt="Card image cap"
      />

      <!-- Card - 1 -->
      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./images/stockphoto1.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h3 class="card-title text-center">Hunger</h3>
            <p class="card-text">
              "If you can't feed a hundred people, then feed just one. Hunger knows no friend but it's feeder."
            </p>
          </div>
        </div>
      </div>
      <!-- Card - 1 -->

      <!-- Card - 2 -->
      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./images/stockphoto2.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h3 class="card-title text-center">Food</h3>
            <p class="card-text">
              "Cutting food waste is a delicious way of saving money, helping to feed the world and protect the planet."
            </p>
          </div>
        </div>
      </div>
      <!-- Card - 2 -->

      <!-- Card - 3 -->
      <div class="col-sm">
        <div class="card">
          <img
            class="card-img-top"
            src="./images/stockphoto3.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h3 class="card-title text-center">Poverty</h3>
            <p class="card-text">
              “As long as poverty, injustice and gross inequality exist in our world, none of us can truly rest.”
            </p>
          </div>
        </div>
      </div>
      <!-- Card - 3 -->
    </div>
  </div>
</section>

<!-- Be A Part Of Our Community -->
<section class="newsletter">
  <div class="border mx-2 p-4">
    <h3 class="text-center py-2">Become a Part of Our Community!</h3>
    <div class="row">
      <!-- Column 1   -->
      <div class="col-sm">
        <form class="bg-warning text-black form-section">
          <div class="row form-group">
            <label for=""> Your Name</label>
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First name"
              />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" />
            </div>
          </div>
          <div class="form-group">
            <label for="">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Enter email"
            />
          </div>
          <div class="form-group">
            <label for="">Contact</label>
            <input
              type="number"
              class="form-control"
              id="contactNumber"
              aria-describedby="contactHelp"
              placeholder="Enter contact number"
            />
            <small id="Help" class="form-text text-muted"
              >We'll never share your email and contact number with anyone
              else.</small
            >
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Column 2   -->
      <div class="col-sm">
        <div class="card text-white bg-success mb-3">
          <div class="card-header text-center">Why to join</div>
          <div class="card-body">
            <h5 class="card-title text-center">SAVE PEOPLE'S LIVES AND HELP END HUNGER</h5>
            <p class="card-text">
              YearnQuest initiative is to make sure no one suffers from hunger. Yet, while many people may not be “hungry” in the sense that they are suffering physical discomfort caused by a severe lack of dietary energy, they may still be food insecure. They might have access to food to meet their energy requirements, yet are uncertain that it will last, or they may be forced to reduce the quality and/or quantity of the food they eat in order to get by. This moderate level of food insecurity can contribute to various forms of malnutrition and can have serious consequences for health and well-being. YearnQuest community provides food donations to make sure that no one goes  bed without meal. A great active from our community to quench the thirst of hunger among the needy. Join this community to help the needy families and people to live a better life.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("./partials/footer") -%>
