<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon  -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/favicon.ico" />

    <title>Login / Signup</title>
    <style>
      #sawo-container {
        margin: auto;
        padding: 16px;
        margin-top: 5%;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    </style>
  </head>
  <body>
    <div id="sawo-container" style="height: 465px; width: 300px"></div>
    <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
