<%- include("./partials/header") -%>
<h1 class="text-center my-4">Our Work</h1>
<h3 class="text-center">Your donations make this possible</h3>

<div class="container">
    <h5 class="mx-3">Past Programs</h5>
    <div class="card-group text-center">
        <div class="card mx-2">
            <img class="card-img-top" src="./images/child.jpg" alt="Card image cap" height='300px'>
            <div class="card-body">
                <h5 class="card-title">Feed Every Child</h5>
                <p class="card-text">20,000+ Meals donated</p>

            </div>
        </div>
        <div class="card mx-2">
            <img class="card-img-top" src="./images/covidmeal.jpg" alt="Card image cap" height='300px'>
            <div class="card-body">
                <h5 class="card-title">Covid-19 Relief Fund</h5>
                <p class="card-text">60,000+ Meals donated
                </p>

            </div>
        </div>
    </div>

    <div class="card-group text-center my-5">
        <div class="card mx-2">
            <img class="card-img-top" src="./images/keralafloods.jpg" alt="Card image cap" height='300px'>
            <div class="card-body">
                <h5 class="card-title">Kerala Flood</h5>
                <p class="card-text">30,000+ Meals donated</p>

            </div>
        </div>
        <div class="card mx-2">
            <img class="card-img-top" src="./images/migrants.jpeg" alt="Card image cap" height='300px'>
            <div class="card-body">
                <h5 class="card-title">Meal for migrants</h5>
                <p class="card-text">50,000+ Meals donated</p>

            </div>
        </div>
    </div>
</div>
<%- include("./partials/footer") -%>