<%- include("./partials/header") -%>
<h1 class="text-center">Stories</h1>
<div class="container">
    <div class="row">
        <div class="col stories">
            <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-112463,resizemode-1,msid-68718604/news/politics-and-nation/hundred-of-deaths-in-india-caused-by-poor-diet-lancet-study/hunger-index-agencies.jpg"
                alt="">
        </div>
        <div class="col" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Hundred of deaths in India by poor diet.</h5>
                <p class="card-text">Poor diet leads to hundreds of deaths in India annually, according to a Lancet
                    study which found that globally one in five people die due to the lack of optimal amounts of
                    food and nutrients on their plates. The report, which tracked trends in consumption of 15
                    dietary factors from 1990 to 2017 in 195 countries, showed that almost every region of the world
                    could benefit from rebalancing their diets.</p>
            </div>
            <a href="https://economictimes.indiatimes.com/news/politics-and-nation/hundred-of-deaths-in-india-caused-by-poor-diet-lancet-study/articleshow/68718530.cms?from=mdr"
                target="_blank"><small>Read Full Story at: Times of India</small></a>
        </div>
    </div>

    <div class="row">
        <div class="col stories">
            <img src="https://www.unicef.org/myanmar/sites/unicef.org.myanmar/files/styles/press_release_feature/public/UNICEF_MinzayarOo_KayinState_38.jpg?itok=ts25x_-g"
                alt="">
        </div>
        <div class="col" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Poor diets damaging children’s health worldwide, warns UNICEF</h5>
                <p class="card-text">An alarmingly high number of children are suffering the consequences of poor
                    diets and a food system that is failing them, UNICEF warned today in a new report on children,
                    food and nutrition.

                    The State of the World’s Children 2019: Children, food and nutrition finds that at least 1 in 3
                    children under five – or over 200 million – is either undernourished or overweight. Almost 2 in
                    3 children between six months and two years of age are not fed food that supports their rapidly
                    growing bodies and brains. This puts them at risk of poor brain development, weak learning, low
                    immunity, increased infections and, in many cases, death.</p>
            </div>
            <a href="https://www.unicef.org/myanmar/press-releases/poor-diets-damaging-childrens-health-worldwide-warns-unicef"
                target="_blank"><small>Read Full Story at: UNICEF.org</small></a>
        </div>
    </div>


    <div class="row">
        <div class="col stories">
            <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/EF34/production/_90163216_dsc_0832.jpg" alt="">
        </div>
        <div class="col" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Amma canteen: Where an Indian meal costs only seven cents</h5>
                <p class="card-text">The Tamil Nadu Chief Minister J Jayalalithaa's "amma canteens", which serve
                    cheap meals to hundreds of thousands of people daily, have become immensely popular with the
                    poor and the middle classes. The BBC's Geeta Pandey samples the treats at a canteen in Chennai
                    (Madras).</p>
            </div>
            <a href="https://www.bbc.com/news/world-asia-india-36659670" target="_blank"><small>Read Full Story at:
                    BBC</small></a>
        </div>
    </div>


    <div class="row">
        <div class="col stories">
            <img src="https://images.indianexpress.com/2021/01/malnutrition.jpg" alt="">
        </div>
        <div class="col" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">Covid-19 has pushed half of India’s poor away from nutritious food</h5>
                <p class="card-text">The lack of a social safety net resulted in misery for workers, many of whom
                    were suddenly left without means of transport. Women were at the receiving end of the
                    restrictions with the report pointing out how 50 per cent of households surveyed reported that
                    women were spending more time in cooking or fetching firewood than before.</p>
            </div>
            <a href="https://indianexpress.com/article/india/covid-19-has-pushed-half-of-indias-poor-away-from-nutritious-food-report-7272500/"
                target="_blank"><small>Read Full Story at: Indian Express</small></a>
        </div>
    </div>

    <div class="row">
        <div class="col stories">
            <img src="https://images.financialexpress.com/2020/10/hunger-survey-india.jpg" alt="">
        </div>
        <div class="col" style="height: 300px;">
            <div class="card-body">
                <h5 class="card-title">
                    India ranks 94 in Hunger Index; experts blame poor implementation, siloed approach</h5>
                <p class="card-text">India ranked 94 among 107 nations in the Global Hunger Index 2020 and was in the
                    ‘serious’ hunger category with experts blaming poor implementation processes, lack of effective
                    monitoring, siloed approach in tackling malnutrition and poor performance by large states behind the
                    low ranking.</p>
            </div>
            <a href="https://www.financialexpress.com/india-news/india-ranks-94-in-hunger-index-experts-blame-poor-implementation-siloed-approach/2107968/"
                target="_blank"><small>Read Full Story at: Financial Express</small></a>
        </div>
    </div>
</div>

<%- include("./partials/footer") -%>